name: Build and deploy .NET application to container app invoicepaymentservicesapi-app-20
on:
  push:
    branches:
    - CicdTest
env:
  CONTAINER_APP_CONTAINER_NAME: invoicepaymentservicesapi
  CONTAINER_APP_NAME: invoicepaymentservicesapi-app-20
  CONTAINER_APP_RESOURCE_GROUP_NAME: invoicepaymentservicesapi-app-20ResourceGroup
  CONTAINER_REGISTRY_LOGIN_SERVER: invoicepaymentservicesapi20231015094557.azurecr.io
  DOCKER_FILE_PATH: ./Dockerfile
  PROJECT_NAME_FOR_DOCKER: invoicepaymentservicesapi
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout to the branch
      uses: actions/checkout@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Log in to container registry
      uses: docker/login-action@v2
      with:
        registry: ${{ env.CONTAINER_REGISTRY_LOGIN_SERVER }}
        username: ${{ secrets.InvoicePaymentServicesApi20231015094557_USERNAME_8B5B }}
        password: ${{ secrets.InvoicePaymentServicesApi20231015094557_PASSWORD_8B5B }}
    - name: Build and push container image to registry
      uses: docker/build-push-action@v4
      with:
        push: true
        tags: ${{ env.CONTAINER_REGISTRY_LOGIN_SERVER }}/${{ env.PROJECT_NAME_FOR_DOCKER }}:${{ github.sha }}
        file: ${{ env.DOCKER_FILE_PATH }}
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.invoicepaymentservicesapi_app_20_SPN }}
    - name: Deploy to containerapp
      uses: azure/CLI@v1
      with:
        inlineScript: >
          az config set extension.use_dynamic_install=yes_without_prompt

          az containerapp registry set --name ${{ env.CONTAINER_APP_NAME }} --resource-group ${{ env.CONTAINER_APP_RESOURCE_GROUP_NAME }} --server ${{ env.CONTAINER_REGISTRY_LOGIN_SERVER }} --username ${{ secrets.InvoicePaymentServicesApi20231015094557_USERNAME_8B5B }} --password ${{ secrets.InvoicePaymentServicesApi20231015094557_PASSWORD_8B5B }}

          az containerapp update --name ${{ env.CONTAINER_APP_NAME }} --container-name ${{ env.CONTAINER_APP_CONTAINER_NAME }} --resource-group ${{ env.CONTAINER_APP_RESOURCE_GROUP_NAME }} --image ${{ env.CONTAINER_REGISTRY_LOGIN_SERVER }}/${{ env.PROJECT_NAME_FOR_DOCKER }}:${{ github.sha }}
    - name: logout
      run: >
        az logout
